.sidebar {
  background-color: #632f09;
  color: #FFD700;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.button-pesanan {
  background-color: #69493e;
  color: #FFD700;
}

.button-kasir {
  background-color: #69493e;
  color: #FFD700;
}

.bg-sidebar {
  background-color: #1f0e01;
  color: #FFD700;
}
